<<<<<<< HEAD
<% allConversationMessages.forEach( function(conversation, index) { %>
=======
<% allConversationMessages.forEach(function(conversation, index) { %>
>>>>>>> revert1
    <div class="modal fade" id="imagesModal_<%= conversation._id %>" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Hình ảnh</h4>
                </div>
                <div class="modal-body">
                    <div class="all-images" style="visibility: hidden;">
                        <% conversation.messages.forEach(function(message) { %>
<<<<<<< HEAD
                            <% if(message.messageType == "image") { %>
                                <img src="data:<%= message.file.contentType %>; base64, <%= bufferToBase64(message.file.data) %>">
                            <% } %>
                        <% }) %>
=======
                            <% if(message.messageType === "image") { %>
                                <img src="data:<%= message.file.contentType %>; base64, <%= bufferToBase64(message.file.data) %>">
                            <% } %>
                        <% }) %>   
>>>>>>> revert1
                    </div>
                </div>
            </div>
        </div>
    </div>
<<<<<<< HEAD
<% }); %>
=======
<% }) %>

>>>>>>> revert1
